*
{
    margin: 0;
    padding: 0;
}

#jumbo
{
    background: url(background1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 100%; 
    width: 100%;
    overflow: hidden;
    margin: 0;
}

html { font-size: 1rem;}

@media (max-width: 575px) {
    html { font-size: .5rem; }
}
@media (min-width: 576px) {
    html { font-size: .6rem; }
}
@media (min-width: 768px) {
    html { font-size: .75rem; }
}
@media (min-width: 992px) {
    html { font-size: .9rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

.navbar
{
    top: 0;
    z-index: 10;
    margin: 0px;
}

.navbar-nav li
{
    padding: 0px 20px;
}

.navbar-nav li a 
{
    text-align: left;
    font-size: 21px;
}

#descrip
{
    margin: 20px;
}

img 
{
    border-radius: 50%;
    width: 35vh;
}

#SUBCONTAINER
{
    padding: 25px;
}

a
{
    text-decoration: none !important;
}

#ABOUTME
{
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 40px;
}

#UM
{
    margin: 0;
    padding: 15px 0px 5px 0px;
}

#DEGREE
{
    padding-left: 40px;
}

#DELTA
{
    margin: 0;
    padding: 15px 0px 5px 0px;
}

#DUAL
{
    padding-left: 40px;
}

#SASA
{
    margin: 0;
    padding: 15px 0px 5px 0px;
}

#HIGH
{
    padding-left: 40px;
    padding-bottom: 15px;
}

#LANGS
{
    margin: 0px;
    padding: 15px 0px 5px 0px;
}

#LANGUAGES
{
    padding-left: 40px;
}

#SOFT
{
    margin: 0px;
    padding: 15px 0px 5px 0px;
}

#TECH
{
    padding-left: 40px;
    padding-bottom: 15px;
}

body
{
    display:block !important
}