*
{
    margin: 0;
    padding: 0;
}

html { font-size: 1rem;}

@media (max-width: 575px) {
    html { font-size: .5rem; }
}
@media (min-width: 576px) {
    html { font-size: .6rem; }
}
@media (min-width: 768px) {
    html { font-size: .75rem; }
}
@media (min-width: 992px) {
    html { font-size: .9rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

.navbar
{
    top: 0;
    z-index: 10;
    margin: 0px;
}

.navbar-nav li
{
    padding: 0px 20px;
}

.navbar-nav li a 
{
    text-align: left;
    font-size: 21px;
}

#descrip
{
    margin: 20px;
}

#jumbo
{
    background: url(background1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 100%; 
    width: 100%;
    overflow: hidden;
    margin: 0;
}

img 
{
    border-radius: 50%;
    width: 35vh;
}

p 
{
    margin-bottom: 0;
}

#SUBCONTAINER
{
    padding: 25px;
}

a
{
    text-decoration: none !important;
}